version: "3.8"
networks:
  db:

services:
  postgres:
    image: {{ postgres_image }}:{{ postgres_version }}
    restart: always
    environment:
      POSTGRES_PASSWORD: {{ db_admin_passwd }}
      PGDATA: /var/lib/postgresql/data/pgdata
    ports:
      - {{ postgres_port }}:{{ postgres_port }}
    volumes:
      - {{ nas_slowloris }}/containers/postgres/data:/var/lib/postgresql/data/pgdata
    networks:
      - db

  adminer:
    image: adminer
    restart: always
    ports:
      - 8080
    networks:
      - db